.card{
    border: 3px solid #000;
    margin: 1rem;
    padding: 1rem;
    background-color: aqua;
}

.cardFruits{
    border: 3px solid #000;
    margin: 1rem;
    padding: 1rem;
    background-color: cornflowerblue;
}