.works {
  color: #555;
  position: relative;
  height: 120vh;
}

.works-container {
  width: 100%;

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide {
  /* display: flex; */
  height: 80vh;
  overflow-x: scroll;
  padding: 0 2rem;
  margin: 0 10%;
}

@media (min-width: 950px) {
  .slide {
    justify-content: center;
  }
}
