.work a {
  text-decoration: none;
  color: #555;
}

.img-and-sitename {
  padding: 3rem 3rem 0;
}
.workimg-div {
  position: relative;
  overflow: hidden;
}
.workimg {
  width: 17rem;
  height: auto;
  display: inline-block;
  margin: auto 0;

  display: inline-block;
}
.jump-to-pages {
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.7s;
}
.visit-page,
.view-code {
  color: royalblue;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  border: 1.3px solid rgba(65, 105, 225, 0.7);
  transition: 0.7s;
}

.visit-page:hover,
.view-code:hover {
  color: #fff;
  background-color: royalblue;
}
.sitetitle {
  margin-top: 0;
}

.work {
  padding: 1rem;
}
.work-container {
  padding: 1.5rem;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.work-discription {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  margin: 1rem;
}
.lang-in-work {
  line-height: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 950px) {
  .workimg {
    width: 100%;
  }
  .jump-to-pages {
    opacity: 0;
    position: absolute;
    top: -90%;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .visit-page,
  .view-code {
    padding: 0.7rem 1.5rem;
    margin-top: 3rem;
  }
  .workimg-div:hover .jump-to-pages {
    opacity: 1;
    top: 0%;
  }
  .sitetitle {
    margin-top: 1rem;
  }
  .work-container {
    flex-direction: column;
  }
  .work-discription {
    margin: auto;
    width: 100%;
  }
}
