.workimg-div {
  margin: 1rem;
}
.workimg {
  width: 17rem;
  height: auto;
  display: inline-block;
  margin: auto 0;
}

.work {
  padding: 1rem;
}
.work-container {
  padding: 1.5rem;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.titles {
  width: 60%;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.titles p {
  line-height: 2rem;
}
