.skills {
  position: relative;
  padding-bottom: 5rem;
}
.skills-container {
  text-align: center;
  margin: 0 20%;
}

.icon-container {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.icons {
  padding: 1rem;
  color: aliceblue;
}
.icon {
  padding: 3rem;
}
