* {
  font-family: "Parisienne", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: bottom;
}

.main {
  position: relative;
  backdrop-filter: blur(3px);
  margin: 3rem 0;
}
.bg-scroll {
  background-image: url("./components/imgs/about.jpg");
  background-attachment: fixed;
  background-size: 100% 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
}
.bg-bl {
  backdrop-filter: blur(5px);
}
