.about-me {
  color: #fff;
  width: 65vw;
  height: 50vh;
  /* background-color: rgb(189, 185, 185); */
  background-color: #958d85;
  backdrop-filter: blur(10px);
  border-radius: 10px;

  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 5;

  transition: 1s;
}
.texts-and-img {
  padding: 1rem;
}
.name-in-about {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1rem;
  margin: 1rem 0;
}

.texts {
  display: flex;
  justify-content: center;
}
.img {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  margin: 1rem;
}
.text-in-about {
  width: 70%;
  padding: 1rem;
  margin: auto 0;
}

.is-aboutOpen {
  animation: show 1s linear 0s;
  animation-fill-mode: forwards;
}
@keyframes show {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 5%;
  }
}

@media (max-width: 800px) {
  .about-me {
    position: static;
    left: 0;

    width: 90vw;
    margin: 0 0 1rem 2rem;
  }
}
