.skilles {
  width: 65vw;
  height: 50vh;
  /* background-color: rgb(189, 185, 185); */
  background-color: #958d85;
  border-radius: 10px;
  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 5;

  transition: 0.5s;
}

.skilles-title {
  color: #fff;
  font-size: 2rem;
  padding: 1.5rem 0 0;
}
.skilles .icon-container {
  background-color: rgba(0, 0, 0, 0.1);
}
.skilles-title {
  padding: 1.5rem 0 0;
  color: #fff;
  font-size: 2rem;
}
.icons {
  padding: 1rem;
  color: aliceblue;
}
.icon {
  padding: 1rem;
}

.is-skillesOpen {
  animation: show 1s linear 0s;
  animation-fill-mode: forwards;
}
@keyframes show {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 5%;
  }
}

@media (max-width: 800px) {
  .skilles {
    position: static;
    left: 0%;

    width: 90vw;
    margin: 0 0 1rem 2rem;
  }
}
