.works {
  width: 65vw;
  height: 50vh;
  /* background-color: rgb(189, 185, 185); */
  background-color: #958d85;
  border-radius: 10px;

  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 5;
  overflow: hidden;

  transition: 0.5s;
}

.work-title {
  color: #fff;
  font-size: 2rem;
  padding: 1.5rem 0 0;
}

.sites {
  width: 100%;
  display: flex;
  overflow: scroll;
  padding: 0 0 2rem 0;
}
.line {
  width: 1px;
  height: 10rem;
  background-color: #fff;
  margin: auto 0;
  font-size: 1px;
  color: transparent;
}

.is-worksOpen {
  animation: show 1s linear 0s;
  animation-fill-mode: forwards;
}
@keyframes show {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 5%;
  }
}

@media (max-width: 800px) {
  .works {
    position: static;
    left: 5%;

    width: 90vw;
    margin: 0 0 1rem 2rem;
  }
}
