.about {
  position: relative;
}
.about-container {
  text-align: center;
  margin: 0 30%;
}

.about-texts {
}
.text-head {
  font-size: 23px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.text-body {
  letter-spacing: 1px;
  line-height: 1.4rem;
}
