.about {
  color: #555;
  position: relative;
  /* height: 90vh; */
}
.about-container {
  text-align: center;
  margin: 0 30%;
}

.about-texts {
}
.text-head {
  font-size: 23px;
  letter-spacing: 2.5px;
  margin-bottom: 1rem;
}
.text-body {
  letter-spacing: 1.5px;
  line-height: 1.4rem;
}

@media (max-width: 950px) {
  .about-container {
    margin: 0 20%;
  }
}
